Repository thegialeo/Training-Invertible-Neural-Networks-as-Autoencoders: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyupgrade-src, pyupgrade-tests, isort-src, isort-tests, black-src, black-tests, flake8-src, flake8-tests, darglint, pydocstyle, pylint, mypy, pytest, bandit, pytest-cov

.pre-commit-config.yaml:

default_language_version:
  python: python3.9

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-yaml
        description: Check yaml files for parseable syntax
      - id: check-added-large-files
        description: Prevent large files from being committed
      - id: check-merge-conflict
        description: Check for files that contain merge conflict strings
      - id: check-symlinks
        description: Check for symlinks which do not point to anything
      - id: trailing-whitespace
        description: Trim trailing whitespaces
      - id: end-of-file-fixer
        description: Fix empty lines at ends of files
      - id: detect-private-key
        description: Detects the presence of private keys
  - repo: local
    hooks:
      - id: pyupgrade-src
        name: pyupgrade (src/)
        stages: [commit]
        language: system
        entry: poetry run pyupgrade --py39-plus
        types: [python]
        files: src/

      - id: pyupgrade-tests
        name: pyupgrade (tests/)
        stages: [commit]
        language: system
        entry: poetry run pyupgrade --py39-plus
        types: [python]
        files: tests/

      - id: isort-src
        name: isort (src/)
        stages: [commit]
        language: system
        entry: poetry run isort
        types: [python]
        files: src/

      - id: isort-tests
        name: isort (tests/)
        stages: [commit]
        language: system
        entry: poetry run isort
        types: [python]
        files: tests/

      - id: black-src
        name: black (src/)
        stages: [commit]
        language: system
        entry: poetry run black
        types: [python]
        files: src/

      - id: black-tests
        name: black (tests/)
        stages: [commit]
        language: system
        entry: poetry run black
        types: [python]
        files: tests/

      - id: flake8-src
        name: flake8 (src/)
        stages: [commit]
        language: system
        entry: poetry run flake8
        types: [python]
        files: src/

      - id: flake8-tests
        name: flake8 (tests/)
        stages: [commit]
        language: system
        entry: poetry run flake8
        types: [python]
        files: tests/

      - id: darglint
        name: darglint
        stages: [commit]
        language: system
        entry: poetry run darglint
        types: [python]
        files: src/

      - id: pydocstyle
        name: pydocstyle
        stages: [commit]
        language: system
        entry: poetry run pydocstyle
        types: [python]
        files: src/

      - id: pylint
        name: pylint
        stages: [commit]
        language: system
        entry: poetry run pylint
        types: [python]
        files: src/

      - id: mypy
        name: mypy
        stages: [commit]
        language: system
        entry: poetry run mypy
        types: [python]
        files: src/

      - id: pytest
        name: pytest
        stages: [commit]
        language: system
        entry: poetry run pytest
        types: [python]
        pass_filenames: false

      - id: bandit
        name: bandit
        stages: [commit]
        language: system
        entry: poetry run bandit
        types: [python]
        files: src/

      - id: safety
        name: safety
        stages: [commit]
        language: system
        entry: poetry run safety check
        pass_filenames: false

      - id: pytest-cov
        name: pytest
        stages: [push]
        language: system
        entry: poetry run pytest --cov=src --cov-report=html --cov-fail-under=100
        types: [python]
        pass_filenames: false

transfer and refactor reconstruction loss evaluation for INN and classic autoencoders
  src/trainer.py
  tests/test_trainer.py
Due: pyupgrade-src, pyupgrade-tests, isort-src, isort-tests, black-src, black-tests, flake8-src, flake8-tests, darglint, pydocstyle, pylint, mypy, pytest, bandit, pytest-cov

transfer and refactor classic autoencoder training
  src/loss.py
  src/trainer.py
  tests/test_loss.py
Due: pyupgrade-src, pyupgrade-tests, isort-src, isort-tests, black-src, black-tests, flake8-src, flake8-tests, darglint, pydocstyle, pylint, mypy, pytest, bandit, pytest-cov

unit testing training and evaluation of INN and classic autoencoders
  src/trainer.py
  tests/test_trainer.py
Due: pyupgrade-src, pyupgrade-tests, isort-src, isort-tests, black-src, black-tests, flake8-src, flake8-tests, darglint, pydocstyle, pylint, mypy, pytest, bandit, pytest-cov

refactor and unit testing image plotting function
  legacy_code/functionalities/evaluater.py
  poetry.lock
  pyproject.toml
  src/functionalities.py
  src/plot.py
  src/trainer.py
  tests/test_filemanager.py
  tests/test_plot.py
Due: pyupgrade-src, pyupgrade-tests, isort-src, isort-tests, black-src, black-tests, flake8-src, flake8-tests, darglint, pydocstyle, pylint, mypy, pytest, bandit, pytest-cov

implement plotting input and reconstructed image comparison for INN autoencoder + move content of plot.py into functionalities.py
  src/functionalities.py
  src/plot.py
  src/trainer.py
  tests/test_functionalities.py
  tests/test_plot.py
Due: pyupgrade-src, pyupgrade-tests, isort-src, isort-tests, black-src, black-tests, flake8-src, flake8-tests, darglint, pydocstyle, pylint, mypy, pytest, bandit, pytest-cov

add plotting difference between reconstruction and input
  src/trainer.py
Due: pyupgrade-src, isort-src, black-src, flake8-src, darglint, pydocstyle, pylint, mypy, pytest, bandit, pytest-cov

implement plotting input, reconstruction and difference image for classic autoencoder
  src/trainer.py
Due: pyupgrade-src, isort-src, black-src, flake8-src, darglint, pydocstyle, pylint, mypy, pytest, bandit, pytest-cov

implement unit tests for plotting functionalities with INN autoencoder
  src/trainer.py
  tests/test_trainer.py
Due: pyupgrade-src, pyupgrade-tests, isort-src, isort-tests, black-src, black-tests, flake8-src, flake8-tests, darglint, pydocstyle, pylint, mypy, pytest, bandit, pytest-cov

implement unit tests for plotting classic autoencoder
  tests/test_trainer.py
Due: pyupgrade-tests, isort-tests, black-tests, flake8-tests, pytest, pytest-cov

re-implement bottleneck experiment for INN autoencoder
  .gitignore
  legacy_code/functionalities/plot.py
  src/__init__.py
  src/dataloader.py
  src/experiment.py
  src/functionalities.py
  src/trainer.py
  tests/__init__.py
  tests/test_trainer.py
Due: pyupgrade-src, pyupgrade-tests, isort-src, isort-tests, black-src, black-tests, flake8-src, flake8-tests, darglint, pydocstyle, pylint, mypy, pytest, bandit, pytest-cov

re-implement running classic autoencoder bottleneck experiment
  src/experiment.py
Due: pyupgrade-src, isort-src, black-src, flake8-src, darglint, pydocstyle, pylint, mypy, pytest, bandit, pytest-cov

unit testing running bottleneck experiment for INN autoencoder
  tests/test_experiment.py
Due: pyupgrade-tests, isort-tests, black-tests, flake8-tests, pytest, pytest-cov

unit test running bottleneck experiment for classic autoencoder
  legacy_code/functionalities/trainer.py
  tests/test_architecture.py
  tests/test_experiment.py
  tests/test_loss.py
  tests/test_trainer.py
Due: pyupgrade-tests, isort-tests, black-tests, flake8-tests, pytest, pytest-cov

update docstring for experiment class
  src/experiment.py
Due: pyupgrade-src, isort-src, black-src, flake8-src, darglint, pydocstyle, pylint, mypy, pytest, bandit, pytest-cov

implement and unit test getter for bottleneck loss dict attribute of experiment class
  src/experiment.py
  tests/test_experiment.py
Due: pyupgrade-src, pyupgrade-tests, isort-src, isort-tests, black-src, black-tests, flake8-src, flake8-tests, darglint, pydocstyle, pylint, mypy, pytest, bandit, pytest-cov

extend unit testing for inn experiment
  src/experiment.py
  src/trainer.py
  tests/test_experiment.py
  tests/test_trainer.py
Due: pyupgrade-src, pyupgrade-tests, isort-src, isort-tests, black-src, black-tests, flake8-src, flake8-tests, darglint, pydocstyle, pylint, mypy, pytest, bandit, pytest-cov

extend unit tests for experiment class
  src/experiment.py
  tests/test_experiment.py
Due: pyupgrade-src, pyupgrade-tests, isort-src, isort-tests, black-src, black-tests, flake8-src, flake8-tests, darglint, pydocstyle, pylint, mypy, pytest, bandit, pytest-cov

implement and unit test plot_curves
  src/experiment.py
  src/functionalities.py
  tests/test_functionalities.py
Due: pyupgrade-src, pyupgrade-tests, isort-src, isort-tests, black-src, black-tests, flake8-src, flake8-tests, darglint, pydocstyle, pylint, mypy, pytest, bandit, pytest-cov

implement and unit test latent dimension list getter + refactor and unit test plot_curves function
  src/experiment.py
  src/functionalities.py
  tests/test_experiment.py
  tests/test_functionalities.py
Due: pyupgrade-src, pyupgrade-tests, isort-src, isort-tests, black-src, black-tests, flake8-src, flake8-tests, darglint, pydocstyle, pylint, mypy, pytest, bandit, pytest-cov

add generic method call to merge run_inn_experiment and run_classic_experiment
  src/experiment.py
  tests/test_experiment.py
Due: pyupgrade-src, pyupgrade-tests, isort-src, isort-tests, black-src, black-tests, flake8-src, flake8-tests, darglint, pydocstyle, pylint, mypy, pytest, bandit, pytest-cov

implement wrapper for running bottleneck experiment
  src/experiment.py
Due: pyupgrade-src, isort-src, black-src, flake8-src, darglint, pydocstyle, pylint, mypy, pytest, bandit, pytest-cov

implement and unit test saving recorded reconstruction loss in bottleneck experiment to numpy fil
  src/experiment.py
  tests/test_experiment.py
Due: pyupgrade-src, pyupgrade-tests, isort-src, isort-tests, black-src, black-tests, flake8-src, flake8-tests, darglint, pydocstyle, pylint, mypy, pytest, bandit, pytest-cov

unit test experiment wrapper
  src/architecture.py
  src/dataloader.py
  src/experiment.py
  src/settings.py
  tests/test_experiment.py
Due: pyupgrade-src, pyupgrade-tests, isort-src, isort-tests, black-src, black-tests, flake8-src, flake8-tests, darglint, pydocstyle, pylint, mypy, pytest, bandit, pytest-cov

update unit tests for Trainer class
  tests/test_trainer.py
Due: pyupgrade-tests, isort-tests, black-tests, flake8-tests, pytest, pytest-cov

improve unit testing for Trainer and Experiment class + implement and unit test plotting bottleneck experiment results
  src/experiment.py
  src/trainer.py
  tests/test_experiment.py
  tests/test_trainer.py
Due: pyupgrade-src, pyupgrade-tests, isort-src, isort-tests, black-src, black-tests, flake8-src, flake8-tests, darglint, pydocstyle, pylint, mypy, pytest, bandit, pytest-cov

implement and unit test count trainable model parameters, record and getter in Trainer and Experiment class
  src/experiment.py
  src/trainer.py
  tests/test_experiment.py
  tests/test_trainer.py
Due: pyupgrade-src, pyupgrade-tests, isort-src, isort-tests, black-src, black-tests, flake8-src, flake8-tests, darglint, pydocstyle, pylint, mypy, pytest, bandit, pytest-cov

implement and unit test computing and recording trainable parameter count in experiment wrapper
  src/experiment.py
  tests/test_experiment.py
Due: pyupgrade-src, pyupgrade-tests, isort-src, isort-tests, black-src, black-tests, flake8-src, flake8-tests, darglint, pydocstyle, pylint, mypy, pytest, bandit, pytest-cov

implement and unit test model trainable parameter comparison
  .pre-commit-config.yaml
  src/architecture.py
  src/experiment.py
  src/functionalities.py
  tests/test_experiment.py
Due: pyupgrade-src, pyupgrade-tests, isort-src, isort-tests, black-src, black-tests, flake8-src, flake8-tests, darglint, pydocstyle, pylint, mypy, pytest, bandit, pytest-cov

implement and unit test command line interface
  poetry.lock
  pyproject.toml
  src/experiment.py
  src/main.py
  src/trainer.py
  tests/test_experiment.py
  tests/test_main.py
Due: pyupgrade-src, pyupgrade-tests, isort-src, isort-tests, black-src, black-tests, flake8-src, flake8-tests, darglint, pydocstyle, pylint, mypy, pytest, bandit, pytest-cov
